.home_container{
    font-family: "Afacad Flux", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(8, 8, 8, 0.4);
    padding: 1% 10% 10% 10%; 
    border: 1px solid white;
    border-radius: 9px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2{
    color: white;
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    color: white;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form .btn-elect{
    padding: 30px;
    background-color: rgba(8, 8, 8, 0.1);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 2.1rem;
}

form .btn-elect:hover{
    background-color: rgb(59, 99, 209);
    cursor: pointer;
}

.btn-logout {
    background-color: rgba(8, 8, 8, 0.1);
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 5px;
    height: 30px;
    color: white;
    font-size: 1.3rem;
}

.btn-logout:hover{
    border-left: 1px solid white;
    border-right: 1px solid white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: rgba(8, 8, 8, 0.3);
}